.background {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  height: 100vh; 
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background:blue;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.signup-container { max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #7e5df5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px);
}
 .signup-container:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    background-color: #64a2e4;
    backdrop-filter: none;
  }
.signup-title {
  text-align: center;
  margin-bottom: 20px;
}

.signup-error {
  background: #ffcccc;
  color: red;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
}

.input-group input {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background: #1b263b;
  color: rgb(238, 232, 232);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background: #415a77;
}
