.background{
    background-image: url("/src/images/img4.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh; 
}

.contact-container {
    max-width: 600px;
    min-width: 600px;
    margin: auto;
    padding: 20px;
    background: #62a9f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 30px;
    height: 500px;
     background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(2px);/* Apply blur effect */
}
.contact-container:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    background-color: #1a85f8;
    backdrop-filter: none;
    
}
h2, h3 {
    color: #333;
}

.contact-info p {
    font-size: 16px;
    margin: 8px 0;
}

.contact-info a {
    text-decoration: none;
    color: #04090f;
    font-weight: bold;
}

.social-links a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000305;
}

.contact-form input, 
.contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background: #032c57;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

.contact-form button:hover {
    background: #0056b3;
}

.business-hours {
    margin-top: 20px;
    font-size: 14px;
}

